<% @goals.each do |g| %>
    <div class="post-preview">
      <%= link_to goal_path(g) do %>
          <h2 class="post-title">
            <%= g.name %>
          </h2>
      <% end %>
      <p class="post-meta">
        Posted by <%= g.user.email %> on <%= time_ago_in_words(g.created_at) %>
      </p>
    </div>
    <hr>
<% end %>